{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <script src="{% static 'scripts/dateWriter.js' %}" defer></script>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    
    <form method="post">
        {% csrf_token %}
        <table><tbody>
        {% for field in form %}
        <tr><td>
        <b>{{ field.label_tag }}</b>
        </td><td>
        {{ field }}
        {{ field.errors }}
        </td></tr>
        {% endfor %}
        </tbody></table>

        {% for message in messages %}
        <div class="error_message">{{ message }}</div>
        {% endfor %}
        <br>

        <button type="submit">Iniciar sesión</button>
    </form>



</body>
{% endblock %}
