{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/functionality.css' %}">
    <title>Camas</title>
</head>
<body>

    <h1>Camas</h1>

    <div class="searcher">
        <form action="{% url 'core:beds' %}" method="GET">
            <label for="query_generic">Buscar por nombre de cama</label>
            <input type="text" id="query_generic" name="query_generic" value="{{ query_generic }}">
            <br>
            <label for="query_floor">Buscar por planta</label>
            <input type="number" id="query_floor" name="query_floor" value="{{ query_floor }}">
            <br>
            <label for="query_service">Buscar por servicio</label>
            <select id="query_service"  name="query_service">
                <option value="0"></option>
                {% for service in services %}
                <option value="{{ service.pk }}" {% if query_service == service.pk %}selected{% endif %} >{{ service.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Buscar</button>
        </form>
        <div class="add_button"><a href="{% url "core:createBed" %}">Nueva cama</a></div>
    </div>

    <table>
    <thead><tr>
        <th>Nombre</th>
        <th>Planta</th>
        <th>Servicio</th>
    </tr></thead><tbody>
    {% for bed in beds %}
    <tr>
        <td>{{ bed.name }}</td>
        <td>{{ bed.floor }}</td>
        <td>{{ bed.service.name }}</td>
        <td class="out_table"><a href="{% url "core:editBed" bed.pk %}">Editar</a></td>
        <td class="out_table"><a href="{% url "core:deleteBed" bed.pk %}">Borrar</a></td>
    </tr>
    {% endfor %}
    </tbody></table>

    <div class="paginator">
        {% if beds.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ beds.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            {{ beds.number }} / {{ beds.paginator.num_pages }}
        </span>

        {% if beds.has_next %}
            <a href="?page={{ beds.next_page_number }}">siguiente</a>
            <a href="?page={{ beds.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </div>

</body>
{% endblock %}
