{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/functionality.css' %}">
    <title>Médicos</title>
</head>
<body>

    <h1>Médicos</h1>

    <div class="searcher">
        <form action="{% url 'core:doctors' %}" method="GET">
            <label for="query_generic">Buscar por nombre</label>
            <input type="text" id="query_generic" name="query_generic" value="{{ query_generic }}">
            <br>
            <button type="submit">Buscar</button>
        </form>
        <div class="add_button"><a href="{% url "core:createDoctor" %}">Nuevo médico</a></div>
    </div>

    <table>
    <tr>
        <th>Nombre</th>
    </tr>
    {% for doctor in doctors %}
    <tr>
        <td>{{ doctor.name }}</td>
        <td class="out_table"><a href="{% url "core:editDoctor" doctor.pk %}">Editar</a></td>
        <td class="out_table"><a href="{% url "core:deleteDoctor" doctor.pk %}">Borrar</a></td>
    </tr>
    {% endfor %}
</table>

    <div class="paginator">
        {% if doctors.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ doctors.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            {{ doctors.number }} / {{ doctors.paginator.num_pages }}
        </span>

        {% if doctors.has_next %}
            <a href="?page={{ doctors.next_page_number }}">siguiente</a>
            <a href="?page={{ doctors.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </div>

</body>
{% endblock %}
