{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/functionality.css' %}">
    <title>Grupos de medicamentos</title>
</head>
<body>

    <h1>Grupos de medicamentos</h1>

    <div class="searcher">
        <form action="{% url 'core:drugTypes' %}" method="GET">
            <label for="query_generic">Buscar por nombre:</label>
            <input type="text" id="query_generic" name="query_generic" value="{{ query_generic }}">
            <br>
            <button type="submit">Buscar</button>
        </form>
        <div class="add_button"><a href="{% url "core:createDrugType" %}">Nuevo grupo de medicamentos</a></div>
    </div>

    <table>
    <tr>
        <th>Nombre</th>
    </tr>
    {% for drugType in drugTypes %}
    <tr>
        <td>{{ drugType.name }}</td>
        <td class="out_table"><a href="{% url "core:editDrugType" drugType.pk %}">Editar</a></td>
        <td class="out_table"><a href="{% url "core:deleteDrugType" drugType.pk %}">Borrar</a></td>
    </tr>
    {% endfor %}
</table>

    <div class="paginator">
        {% if drugTypes.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ drugTypes.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            {{ drugTypes.number }} / {{ drugTypes.paginator.num_pages }}
        </span>

        {% if drugTypes.has_next %}
            <a href="?page={{ drugTypes.next_page_number }}">siguiente</a>
            <a href="?page={{ drugTypes.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </div>

</body>
{% endblock %}
