{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/functionality.css' %}">
    <title>Camas</title>
</head>
<body>

    <h1>Camas</h1>

    <div class="searcher">
        <form action="{% url 'core:services' %}" method="GET">
            <label for="query_generic">Buscar por nombre:</label>
            <input type="text" id="query_generic" name="query_generic" value="{{ query_generic }}">
            <br>
            <button type="submit">Buscar</button>
        </form>
        <div class="add_button"><a href="{% url "core:createService" %}">Nuevo servicio</a></div>
    </div>

    <table>
    <tr>
        <th>Nombre</th>
    </tr>
    {% for service in services %}
    <tr>
        <td>{{ service.name }}</td>
        <td class="out_table"><a href="{% url "core:editService" service.pk %}">Editar</a></td>
        <td class="out_table"><a href="{% url "core:deleteService" service.pk %}">Borrar</a></td>
    </tr>
    {% endfor %}
</table>

    <div class="paginator">
        {% if services.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ services.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            {{ services.number }} / {{ services.paginator.num_pages }}
        </span>

        {% if services.has_next %}
            <a href="?page={{ services.next_page_number }}">siguiente</a>
            <a href="?page={{ services.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </div>

</body>
{% endblock %}
