<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
        <title>{% block title %}Hospiapp{% endblock %}</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                {% if perms.core.view_patient %}
                <a href="{% url "core:patientsManagement" %}" class="menu_button">Pacientes</a>
                {% endif %}
                {% if perms.core.view_storageddrug %}
                <a href="{% url "core:storagedDrugs" %}" class="menu_button">Farmacia</a>
                {% endif %}
                {% if perms.core.view_storagedlabmaterial %}
                <a href="{% url "core:storagedLabMaterials" %}" class="menu_button">Laboratorio</a>
                {% endif %}
                {% if perms.core.view_sample %}
                <a href="{% url "core:samples" %}" class="menu_button">Muestras</a>
                {% endif %}
                {% if perms.core.view_blood %}
                <a href="{% url "core:blood" %}" class="menu_button">Sangre</a>
                {% endif %}
                {% if user.is_superuser %}
                <div class="dropdown">
                    <a class="menu_button">Maestros de enfermería</a>
                    <div class="content">
                        <h3>Medicamentos</h3>
                        <a href="{% url "core:drugs" %}">Medicamentos</a>
                        <a href="{% url "core:drugTypes" %}">Grupos</a>
                        <h3>Lugares físicos</h3>
                        <a href="{% url "core:storages" %}">Almacenes de medicamentos</a>
                        <a href="{% url "core:services" %}">Servicios</a>
                        <a href="{% url "core:beds" %}">Camas</a>
                        <h3>Personas</h3>
                        <a href="{% url "core:doctors" %}">Médicos</a>
                        <a href="{% url "core:patients" %}">Pacientes</a>
                    </div>
                </div>
                {% endif %}
                {% if user.is_superuser %}
                <div class="dropdown">
                    <a class="menu_button">Maestros de laboratorio</a>
                    <div class="content">
                        <a href="{% url "core:labStorages" %}">Almacenes de laboratorio</a>
                        <a href="{% url "core:labMaterials" %}">Materiales de laboratorio</a>
                    </div>
                </div>
                {% endif %}
                {% if user.is_superuser %}
                <a href="{% url 'core:backups' %}" class="menu_button">Copias</a>
                {% endif %}
                {% if user.is_superuser %}
                <a href="{% url 'core:users' %}" class="menu_button">Usuarios</a>
                {% endif %}
                <a href="{% url 'core:userLogout' %}" class="logout">Cerrar sesión</a>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>