{% extends 'base.html' %}

{% block content %}

    <h1>Maestros</h1>

    <h2>Medicamentos</h2>
    <a href="{% url "core:drugs" %}">Medicamentos</a>
    <a href="{% url "core:drugTypes" %}">Grupos</a>
    <h2>Lugares físicos</h2>
    <a href="{% url "core:storages" %}">Almacenes</a>
    <a href="{% url "core:services" %}">Servicios</a>
    <a href="{% url "core:beds" %}">Camas</a>
    <h2>Personas</h2>
    <a href="{% url "core:doctors" %}">Médicos</a>
    <a href="{% url "core:users" %}">Usuarios</a>
    <a href="{% url "core:patients" %}">Pacientes</a>

    <h1>Funcionalidades</h1>
    <a href="{% url "core:patientsManagement" %}">Pacientes</a>
    <a href="{% url "core:storagedDrugs" %}">Farmacia</a>

    <h1>Sesión</h1>
    <a href="{% url "core:userLogout" %}">Cerrar sesión</a>



{% endblock %}
