{% extends 'base.html' %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/functionality.css' %}">
    <script src="{% static 'scripts/dateWriter.js' %}"></script>
    <title>Pacientes</title>
</head>

<body>

    <h1>Pacientes</h1>

    <div class="searcher">
        <form action="{% url 'core:patientsManagement' %}" method="GET">
            <label for="query_generic">Buscar por nombre o nº historia</label>
            <input type="text" id="query_generic" name="query_generic" value="{{ query_generic }}">
            <br>
            <label for="query_doctor">Buscar por doctor asignado</label>
            <select id="query_doctor"  name="query_doctor">
                <option value="0"></option>
                {% for doctor in doctors %}
                <option value="{{ doctor.pk }}" {% if query_doctor == doctor.pk %}selected{% endif %} >{{ doctor }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="query_date_1">Fecha de ingreso</label>
            <input type="text" id="query_date_1" name="query_date_1" class="date" value={{ query_date_1 }}>
            <label for="query_date_2"><b>-</b></label>
            <input type="text" id="query_date_2" name="query_date_2" value={{ query_date_2 }}>
            <button type="button" onclick="todayDate()" id="today">Hoy</button>
            <br>
            <label for="query_status">Estado del paciente</label>
            <select id="query_status"  name="query_status">
                <option value="0">Todos</option>
                <option value="1" {% if query_status == 1 %}selected{% endif %} >Ingresados</option>
                <option value="2" {% if query_status == 2 %}selected{% endif %} >No ingresados</option>
            </select>
            <h3>Buscar por cama</h3>
            <label for="query_service">Servicio</label>
            <select id="query_service"  name="query_service" onchange="filterInManagement()">
                <option value="0"></option>
                {% for service in services %}
                <option value="{{ service.pk }}" {% if query_service == service.pk %}selected{% endif %} >{{ service }}</option>
                {% endfor %}
            </select>
            <label for="query_floor">Planta</label>
            <input type="number" id="query_floor" name="query_floor" onchange="filterInManagement()" value={{ query_floor }}>
            <label for="query_bed">Cama</label>
            <select name="query_bed" id="bed_selector"></select>
            {% for bed in beds %}
            {% if query_bed == bed.pk %}selected{% endif %}
            {% endfor %}
            <br>
            <button type="submit">Buscar</button>
        </form>
        <div class="add_button"><a href="{% url "core:createPatient" %}">Ingresar nuevo paciente</a></div>
    </div>

    <div class="grid">
        <div class="viewer">
            <h3>Datos del paciente</h3>
            <table class="viewer_table">
                <tr>
                    <td><b>Nombre</b></td>
                    <td id='view_name'></td>
                </tr>
                <tr>
                    <td><b>Número de historia</b></td>
                    <td id='view_historyNumber'> </td>
                </tr>
                <tr>
                    <td><b>Médico asignado</b></td>
                    <td id='view_doctor'> </td>
                </tr>
                <tr>
                    <td><b>Fecha de ingreso</b></td>
                    <td id='view_date'> </td>
                </tr>
                <tr>
                    <td><b>Constantes</b></td>
                    <td id='view_constants'> </td>
                </tr>
                <tr>
                    <td><b>Historial</b></td>
                    <td id='view_history'> </td>
                </tr>
            </table>
            <h3>Cama asignada</h3>
            <table class="viewer_table">
                <tr>
                    <td><b>Cama</b></td>
                    <td id='view_bed'> </td>
                </tr>
                <tr>
                    <td><b>Planta</b></td>
                    <td id='view_floor'> </td>
                </tr>
                <tr>
                    <td><b>Servicio</b></td>
                    <td id='view_service'> </td>
                </tr>
            </table>
        </div>
        <div class="main_table">
            <h3>Pacientes</h3>
            <table>
            <tr>
                <th>Nombre</th>
                <th>Número de historia</th>
                <th>Médico</th>
                <th>Cama</th>
                <th>Fecha de ingreso</th>
            </tr>
            {% for patient in patients %}
            <tr class="clickable" id="{{ patient.pk }}">
                <td>{{ patient.name }}</td>
                <td>{{ patient.verbose_historyNumber }}</td>
                <td>{{ patient.verbose_doctor }}</td>
                <td>{{ patient.verbose_bed }}</td>
                <td>{{ patient.verbose_admissionDate }}</td>
                <td class="out_table"><a href="{% url 'core:editPatient' patient.pk %}">Modificar datos / Ingresar</a></td>
                <td class="out_table"><a href="{% url 'core:dischargePatient' patient.pk %}">Dar el alta</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="paginator">
        {% if patients.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ patients.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            {{ patients.number }} / {{ patients.paginator.num_pages }}
        </span>

        {% if patients.has_next %}
            <a href="?page={{ patients.next_page_number }}">siguiente</a>
            <a href="?page={{ patients.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </div>

    <script>

        function view(pk) {
            fetch('{{backendURL}}' + 'viewPatient/' + pk)
            .then(response => {return response.json();})
            .then(json => {
                document.getElementById('view_name').textContent = json.backendPatient_name
                document.getElementById('view_historyNumber').textContent = json.backendPatient_historyNumber
                document.getElementById('view_doctor').textContent = json.backendPatient_doctor
                document.getElementById('view_constants').textContent = json.backendPatient_constants
                document.getElementById('view_date').textContent = json.backendPatient_admissionDate
                document.getElementById('view_history').textContent = json.backendPatient_history
                document.getElementById('view_bed').textContent = json.backendBed_name
                document.getElementById('view_floor').textContent = json.backendBed_floor
                document.getElementById('view_service').textContent = json.backendBed_service
            });
        }

        var clickables = document.querySelectorAll('.clickable');

        clickables.forEach(function(element) {
            element.addEventListener('click', function(){
                view(element.id);
            });
        });

        function filterInManagement() {

            var bed_selector = document.getElementById("bed_selector");
            bed_selector.innerHTML = '';

            var query_service_value = document.getElementById("query_service").value;
            var query_floor_value = document.getElementById("query_floor").value;
            if(query_floor_value == ''){ query_floor_value = '0' }

            fetch('http://127.0.0.1:8000/filterInManagement/' + query_service_value + '/' + query_floor_value)
            .then(response => {return response.json();})
            .then(json => {
                bed_selector.add(new Option('', '0'), undefined);
                json.result.forEach(bed => {
                    bed_selector.add(new Option(bed['value'], bed['key']), undefined);
                });
            });
        }
        filterInManagement();

        function todayDate() {
            const currentDate = new Date();
            var today = ("0"+currentDate.getDate()).slice(-2) + "/" + ("0"+(currentDate.getMonth()+1)).slice(-2) + "/" + currentDate.getFullYear();
            document.getElementById('query_date_1').setAttribute('value', today);
            document.getElementById('query_date_2').setAttribute('value', today);
        }

    </script>

{% endblock %}
</body>
