{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/functionality.css' %}">
    <title>Farmacia</title>
</head>
<body>

    <h1>Farmacia</h1>

    <div class="searcher">
        <form action="{% url 'core:storagedDrugs' %}" method="GET">
            <label for="query_generic">Buscar por nombre del medicamento</label>
            <input type="text" id="query_generic" name="query_generic" value="{{ query_generic }}">
            <br>
            <label for="query_type">Buscar por grupo de medicamento</label>
            <select id="query_type"  name="query_type">
                <option value="0"></option>
                {% for type in types %}
                <option value="{{ type.pk }}" {% if query_type == type.pk %}selected{% endif %} >{{ type }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="query_date_1">Fecha de caducidad</label>
            <input type="text" id="query_date_1" name="query_date_1" value="{{ query_date_1 }}">
            <label for="query_date_2"><b>-</b></label>
            <input type="text" id="query_date_2" name="query_date_2" value="{{ query_date_2 }}">
            <button type="button" onclick="todayDate()">Hoy</button>
            <br>
            <label for="query_storage">Buscar por almacén</label>
            <select id="query_storage"  name="query_storage">
                <option value=""></option>
                {% for storage in storages %}
                <option value="{{ storage.pk }}" {% if query_storage == storage.pk %}selected{% endif %} >{{ storage }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Buscar</button>
        </form>
        <div class="add_button">
            <a href="{% url "core:createStoragedDrug" %}">Añadir medicamento a un almacén</a>
        </div>
    </div>

    <div class='error_container'>
        {% if error_message_date %}
            <p> Las fechas introducidas no siguen el formato y no se han tenido en cuenta</p>
        {% endif %}
    </div>

    <div class="grid">
        <div class="viewer">
            <h3>Datos del medicamento</h3>
            <table class="viewer_table">
                <tr>
                    <td><b>Medicamento</b></td>
                    <td id='view_drug'> </td>
                </tr>
                <tr>
                    <td><b>NDC</b></td>
                    <td id='view_NDC'> </td>
                </tr>
                <tr>
                    <td><b>Grupo de medicamentos</b></td>
                    <td id='view_type'> </td>
                </tr>
                <tr>
                    <td><b>Almacén</b></td>
                    <td id='view_storage'> </td>
                </tr>
                <tr>
                    <td><b>Cantidad</b></td>
                    <td id='view_quantity'> </td>
                </tr>
                <tr>
                    <td><b>Fecha caducidad</b></td>
                    <td id='view_date'> </td>
                </tr>
                <tr>
                    <td><b>Cantidad total</b></td>
                    <td id='view_total'> </td>
                </tr>
            </table>
        </div>
        <div class="main_table">
        <h3>Medicamentos</h3>
            <table>
            <tr>
                <th>Medicamento</th>
                <th>Almacén</th>
                <th>Cantidad</th>
                <th>Fecha de caducidad</th>
            </tr>
            {% for storagedDrug in storagedDrugs %}
            <tr class="clickable" id="{{ storagedDrug.pk }}">
                <td>{{ storagedDrug.drug }}</td>
                <td>{{ storagedDrug.verbose_storage }}</td>
                <td>{{ storagedDrug.quantity }}</td>
                <td>{{ storagedDrug.verbose_expirationDate }}</td>
                <td class="out_table"><a href="{% url 'core:editStoragedDrug' storagedDrug.pk %}">Alterar cantidad</a></td>
                <td class="out_table"><a href="{% url 'core:consumeStoragedDrug' storagedDrug.pk %}">Consumir</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="paginator">
        {% if storagedDrugs.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ storagedDrugs.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            {{ storagedDrugs.number }} / {{ storagedDrugs.paginator.num_pages }}
        </span>

        {% if storagedDrugs.has_next %}
            <a href="?page={{ storagedDrugs.next_page_number }}">siguiente</a>
            <a href="?page={{ storagedDrugs.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </div>


    <script>

        function view(pk) {
            fetch('{{backendURL}}' + 'viewStoragedDrug/' + pk)
            .then(response => {return response.json();})
            .then(json => {
                document.getElementById('view_drug').textContent = json.BackendStoragedDrug_name
                document.getElementById('view_NDC').textContent = json.BackendStoragedDrug_NDC
                document.getElementById('view_type').textContent = json.BackendStoragedDrug_drugType
                document.getElementById('view_storage').textContent = json.BackendStoragedDrug_storage
                document.getElementById('view_quantity').textContent = json.BackendStoragedDrug_quantity
                document.getElementById('view_date').textContent = json.BackendStoragedDrug_expirationDate
                document.getElementById('view_total').textContent = json.BackendStoragedDrug_total
            });
        }

        var clickables = document.querySelectorAll('.clickable');

        clickables.forEach(function(element) {
            element.addEventListener('click', function(){
                view(element.id);
            });
        });

        function todayDate() {
            const currentDate = new Date();
            var today = ("0"+currentDate.getDate()).slice(-2) + "/" + ("0"+(currentDate.getMonth()+1)).slice(-2) + "/" + currentDate.getFullYear();
            document.getElementById('query_date_1').setAttribute('value', today);
            document.getElementById('query_date_2').setAttribute('value', today);
        }

    </script>

</body>
{% endblock %}
